<div class="customers view indent">
    <div class="container">
        <header>
            <h3>
                <span class="glyphicon glyphicon-folder-open"></span>&nbsp;&nbsp;შეკვეთები
            </h3>
        </header>
        <br />

        <div class="container">
            <div *ngIf="customers && customers.length">

                <div class="row" *ngFor="let customer of customers;trackBy:trackbyService.customer">
                    <h4>{{ customer.firstName }} {{ customer.lastName }}</h4>
                    <br />
                    <table *ngIf="customer.orders && customer.orders.length" class="table table-striped table-hover orders-table">
                        <tr *ngFor="let order of customer.orders;trackBy:trackbyService.order">
                            <td>{{order.productName}}</td>
                            <td class="text-right">{{ order.itemCost | currency:'GEL':'symbol' }}</td>    
                        </tr>
                        <tr class="summary-border">
                            <td>&nbsp;</td>
                            <td class="text-right">{{ customer.orderTotal | currency:'GEL':'symbol' }}
                        </tr>
                    </table>
                    <div *ngIf="!customer.orders || !customer.orders.length">
                        შეკვეთები არ მოიძებნა
                    </div> 
                </div>

                <cm-pagination [hidden]="!customers || !customers.length"
                    [totalItems]="totalRecords" 
                    [pageSize]="pageSize" 
                    (pageChanged)="pageChanged($event)"></cm-pagination>

            </div>
            <div *ngIf="!customers || !customers.length">
                მომხმარებლები არ მოიძებნა
            </div>
        </div>

    </div>
</div>
